<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Available Animal Food is</h2>

    <input type="text" id="searchInput" placeholder="Search by City Name...">
    <button onclick="searchFood()">Search</button>

    <% Animalfd.forEach(function(item) { %>
        <div class="food-Detail" style="background-color: red;">
          <h2><%= item.hotelName %></h2>
          <h2><%= item.cityName %></h2>
          <h2><%= item.location %></h2>
        </div>
      <% }) %>
    
    <script>
        function searchFood() {
            var input, filter, foodDetails, cityName, i;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            foodDetails = document.getElementsByClassName("food-Detail");
            for (i = 0; i < foodDetails.length; i++) {
                cityName = foodDetails[i].getElementsByTagName("h2")[1];
                if (cityName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    foodDetails[i].style.display = "";
                } else {
                    foodDetails[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>